{% extends 'base.html'%}

{% block main %}

<section>
    <div class="chat" id="chatbox">

    </div>
    <div class="container">
        <form method="post" action="" id="form-question">
            <div class="div-question">
                <label for="question">Posez votre question:</label>
                <textarea class="form-control" rows="3" id="question" name="user_text"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</section>

{% endblock %}